<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637411766267-l3g623i932ca6gu34qpq2p7d987bu416.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637411766267-l3g623i932ca6gu34qpq2p7d987bu416</string>
	<key>API_KEY</key>
	<string>AIzaSyBattlSRtY6TGhRfbYsVEvftt6ISTKYmuY</string>
	<key>GCM_SENDER_ID</key>
	<string>637411766267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>clone-5c95e</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-5c95e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637411766267:ios:2a660f8c186c93a317a55e</string>
</dict>
</plist>